body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    display: flex;
  }
  
  .image-overlay {
    position: relative;
    margin: 10px;
  }
  
  .image {
    width: 350px; 
    
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }



  